x<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Client</title>
</head>
<body>
    <h1>Flask Client for Django APIs</h1>
    <ul>
        <li><a href="/form_postmaster">Submit Postmaster Data</a></li>
        <li><a href="/form_video">Submit Surveillance Video</a></li>
        <li><a href="/form_feedback">Submit Feedback</a></li>
        <li><a href="/form_parcel_image">Submit Parcel Image</a></li>
    </ul>
</body>
</html>
